{% extends "layout.html" %}

{% block title %}
<title>Расписание</title>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Время</th>
                {% for weekday in weekdays %}
                    {% if (day_of_week == weekday.number) %}
                    <th>
                    {% else %}
                    <th>
                    {% endif %}{{ weekday.short_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <th>{{ row.subtime.start_time }}</th>
                {% for lesson in row.lessons %}
                <td>
                    {% if lesson != None %}
                    <span>{{ lesson.subject.name }}</span><br />
                    <span>{{ lesson.group.name }} класс</span><br />
                    <span>ауд. {{ lesson.room.name }}</span>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}