{% extends "layout.html" %}

{% block content %}
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Время</th>
                {% for weekday in weekdays %}
                    {% if (day_of_week == weekday.number) %}
                    <th bgcolor="grey">
                    {% else %}
                    <th>
                    {% endif %}{{ weekday.short_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <th>{{ row.subtime.start_time }}</th>
                {% for lesson in row.lessons %}
                <td>
                    {% if lesson != None %}
                        {{ lesson.subject.name }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}