{% extends "layout.html" %}

{% block content %}
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Время</th>

                {% if (day_of_week == 1) %}
                    <th bgcolor="grey">
                {% else %}
                    <th>
                {% endif %}ПН</th>

                {% if (day_of_week == 2) %}
                    <th bgcolor="grey">
                {% else %}
                    <th>
                {% endif %}ВТ</th>

                {% if (day_of_week == 3) %}
                    <th bgcolor="grey">
                {% else %}
                    <th>
                {% endif %}СР</th>

                {% if (day_of_week == 4) %}
                    <th bgcolor="grey">
                {% else %}
                    <th>
                {% endif %}ЧТ</th>

                {% if (day_of_week == 5) %}
                    <th bgcolor="grey">
                {% else %}
                    <th>
                {% endif %}ПТ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    15:30
                </td>
                <td>
                    Олимпиадное программирование<br>
                    10 класс<br>
                    ауд 453
                </td>
                <td>
                    Программирование<br>
                    8 класс<br>
                    ауд 454а
                </td>
                <td></td>
                <td>
                    Программирование<br>
                    8 класс<br>
                    ауд 453
                </td>
                <td></td>
            </tr>
            <tr>
                 <td>
                    17:00
                </td>
                <td>
                    Программирование<br>
                    10 класс<br>
                    ауд 453
                </td>
                <td></td>
                <td>
                    Программирование<br>
                    10 класс<br>
                    ауд 453
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}